# Python
__pycache__/
*.pyc

# Env files
.env
*.env

# Test outputs
tests/auto/results/
tests/auto/*.json
tests/auto/*.txt
tests/auto/*.mp3

# General logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
.local_kv.json
*.pptx
*.pdf
